@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .main-container {
    @apply px-6 sm:px-16 md:px-11 lg:px-0 w-full mx-auto overflow-hidden  max-w-screen-lg
  }
}

.bg-navbar {
  background-color: #041380;
}

.toogle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white
}

.bg-stadium {
  background-image: url('https://i2-prod.getreading.co.uk/incoming/article18965762.ece/ALTERNATES/s1200c/0_Reading-v-Barnsley-Sky-Bet-Championship.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.bg-opac {
  background: rgba(0, 0, 0, 0.5);
}